QDRANT_API_KEY=your_qdrant_api_key
QDRANT_URL=your_qdrant_url
PYTHON_ENV=development
PYTHON_PORT=8000

BACKEND_URL=http://localhost:3000

LANGCHAIN_API_KEY=your_langchain_api_key
LANGCHAIN_PROJECT=LMS-RAG-SERVICE
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_API_KEY=your_ollama_api_key
OLLAMA_MODEL=llama3.1:8b
OLLAMA_EMBEDDING_MODEL=nomic-embed-text:v1.5

