fastapi
uvicorn
python-dotenv
pydantic-settings
httpx
langchain
langchain-community
langchain-ollama
langchain-chroma
langchain-qdrant
langchain-text-splitters
langsmith
qdrant-client
sentence-transformers
torch
numpy
faster-whisper
motor
chromadb
pandas
deepeval
pytest-asyncio