fastapi
uvicorn
python-dotenv
httpx
langchain
langchain-community
langchain-ollama
langchain-chroma
langchain-qdrant
langchain-text-splitters
langsmith
qdrant-client
faster-whisper
chromadb
deepeval
pytest-asyncio